.container-nota {
    display: flex;
    background-color: blue;
    height: 350px;
    width: 550px;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    flex-direction: column;
}

.container-nota #input-nota {
    height: 50px;
    width: 260px;
    border-radius: 10px;
    padding: 0;
    border: 0;
}

.container-nota #button-calcular {
    height: 40px;
    width: 90px;
    margin-top: 10%;
    padding: 0;
    border-radius: 5px;
    border: 0;
}

#button-calcular:hover {
    background-color: green;
    color: white;
}
